*.mp3
Thumbs.db
*/bin

## gradle
.gradle/
build/

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
*.launch

## intellij
/out
/.idea
/atlassian-ide-plugin.xml
*.iml

## vscode
.vscode

## Private Stuffs
/private.properties

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar
